body {
  margin: 0;
}

.navbarside {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  /* padding-top: 20%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarside a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #4a95e9;
  font-size: 2rem;
}

.navbarside a:hover {
  color: #ffffff;
}

.all-content {
  margin-left: 20%;
  padding: 0px 10px;
  background-color: #ffffff;
  min-height: 100vh;
}

/* .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
} */

.contract-detail-container {
  width: 600px;
  margin: 20px auto;
  /* background-color: lightgray; */
  border: 1px black solid;
  border-radius: 5px;
  padding: 20px;
}

.title-box {
  display: inline-flex;
  /* background: red; */
  width: 100%;
  justify-content: space-between;
}

.contract-title {
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  margin: 0 0 20px 0;
}

.top-level-detail-container {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small-detail-container {
  /* background: lightgray; */
  margin: 20px auto;
  width: 250px;
}

.detail-description-head {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #c4c4c4;
}

.detail-variable {
  font-weight: 600;
  font-size: 20px;
  color: #0970e0;
  padding: 0 10px;
}
