<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contract Parser App</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="navbarside">
    <div class="link-box">
      <a href="#about">Home</a>
      <a href="#services">Files</a>
      <a href="#clients">Contact</a>
      <a href="#contact">About Us</a>
    </div>
  </div>

  <div class="all-content">
    <h1>Contract Condor</h1>
    {% block content %}{% endblock %}
    <footer>
      <p>Footer</p>
      <i class="material-icons">create_new_folder</i>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>