{% extends 'contract_parser/base.html' %}
{% block content %}

<section class='contract-detail-container'>
    <div class="title-box">
        <h1 class='contract-title'>TITLE</h1>
        <i class="material-icons">close</i>
    </div>

    <div class="top-level-detail-container">
        <div class="small-detail-container">
            <span class='detail-description-head'><i class="material-icons">account_balance</i> &nbsp; Department</span>
            <p class="detail-variable"> Department of Defense </p>
        </div>
        <div class="small-detail-container">
            
            <span class='detail-description-head'><i class="material-icons">date_range</i>&nbsp; Due Date</span>
            <p class="detail-variable">9/20/20</p>
        </div>
        <div class="small-detail-container">
            <span class='detail-description-head'><i class="material-icons">location_on</i>&nbsp; Location</span>
            <p class="detail-variable">Washington, D.C.</p>
        </div>
        <div class="small-detail-container">
            <span class='detail-description-head'><i class="material-icons">monetization_on</i>&nbsp; Value</span>
            <p class="detail-variable">$15,000</p>
        </div>
    </div>

    <div class="requirements-section">
        <p class="detail-description-head">Requirements</p>
        <div class="requirements-container">
            <p class="page-number">pg 14</p>
            <p class="requirement-text"> Alternating
Current (AC) and DC substations, tie breaker stations, uninterruptible
power supply, power distribution systems, traction power and third rail,
Supervisory Control and Data Acquisition (SCADA) systems for power
control, grounding, stray current, corrosion control and cathodic
protection, and other electrical power engineering </p>
        </div>

        <div class="requirements-container">
            <p class="page-number">pg 14</p>
            <p class="requirement-text"> item </p>
        </div>

    </div>

</section>




{% endblock %}