{% extends 'contract_parser/base.html' %}
{% block content %}
  

  <div class="dropzone-container">
    <form method="POST" action="#" class="dropzone" id="main-file-dropzone" enctype="multipart/form-data">
      <h4>Drag a file or <span class="dropzone-blue-motif">browse</span> to upload</h4>
      <br />
      <h6>Save documents to summarize requirements for the proposed contract</h6>
      <br />
      <br />
      <i class="material-icons dropzone-touch-icon">touch_app</i>
      {% csrf_token %}
    </form>
  </div>

  {% endblock %}