{% extends 'contract_parser/base.html' %}
{% block content %}
  

  <div class="dropzone-container">
    <form method="POST" action="#" class="dropzone" id="main-file-dropzone" enctype="multipart/form-data">
      <h4><i class="material-icons">add_circle_outline</i>&nbsp;&nbsp;Add files for analysis...</h4>
      <h6>Drag and drop documents from a potential contract</h6>
      <br />
      <br />
      <i class="material-icons dropzone-blue-folder">create_new_folder</i>
      {% csrf_token %}
    </form>
  </div>

  {% endblock %}