{% block content %}

<div class="row list-headers">
  <div class="col s1">Recent</div>
  <div class="col s3">Title</div>
  <div class="col s2">Due</div>
  <div class="col s2">Location</div>
  <div class="col s2">Department</div>
  <div class="col s1">REQ</div>
</div>

<div class="row">
  <div class="col s1">April 6</div>
  <div class="col s3 grayed-list-item">Lorem ipsum dolor sit</div>
  <div class="col s2 grayed-list-item">May 29</div>
  <div class="col s2 grayed-list-item">Miami, FL</div>
  <div class="col s2 grayed-list-item">Dept. of Defense</div>
  <div class="col s1">REQ</div>
</div>

<div class="row">
  <div class="col s1">March 29</div>
  <div class="col s3 grayed-list-item">Nulla id sapien elit</div>
  <div class="col s2 grayed-list-item">May 5</div>
  <div class="col s2 grayed-list-item">Raleigh, NC</div>
  <div class="col s2 grayed-list-item">State Dept</div>
  <div class="col s1">REQ</div>
</div>

<div class="row">
  <div class="col s1">March 26</div>
  <div class="col s3 grayed-list-item">Morbi ac turpis ut</div>
  <div class="col s2 grayed-list-item">June 16</div>
  <div class="col s2 grayed-list-item">Mobile, AL</div>
  <div class="col s2 grayed-list-item">Env Prot Agency</div>
  <div class="col s1">REQ</div>
</div>

<div class="row">
  <div class="col s1">March 23</div>
  <div class="col s3 grayed-list-item">Etiam mollis arcu ac</div>
  <div class="col s2 grayed-list-item">July 4</div>
  <div class="col s2 grayed-list-item">Los Angeles, CA</div>
  <div class="col s2 grayed-list-item">Treasury Dept</div>
  <div class="col s1">REQ</div>
</div>

{% endblock %}